manifest {
	author = "Kerstin M. Leberecht, Christian Schudoma"
	defaultBranch = "main"
	description = "TREC metatranscriptomics analysis workflow"
	name = "trecTivity"
	nextflowVersion = ">=23.10,<26"
	version = "0.17.0"
}

params {
	run_preprocessing = true
	remove_host = false
	run_sortmerna = false
	// ignore orphan reads after qc?
	drop_orphans = false
	// minimum read length [bp]
	qc_minlen = 45
	// bbduk preprocessing settings
	// qtrim=rl trimq=3 : gentle quality trimming (only discard bases < phred 3; phred 2 = junk marker) on either side (rl) of the read
	// maq=25 : discard reads below average quality of pred 25
	// ref=?? ktrim=r k=23 mink=11 hdist=1 tpe tbo : right-side k-mer based adapter clipping with 1 mismatch allowed, try overlap-detection (tbo), and trim pairs to same length (tpe) upon adapter detection -- NOTE: ref-parameter is set within workflow
	// ftm=5 : get rid of (n*5)+1st base (last sequencing cycle illumina garbage) -- NOTE: unset for preprocessed data
	// entropy=0.5 entropywindow=50 entropyk=5 : discard low complexity sequences
	qc_params_shotgun = "qtrim=rl trimq=3 maq=25 ktrim=r k=23 mink=11 hdist=1 ftm=5 entropy=0.5 entropywindow=50 entropyk=5 tpe tbo"
}

executor {
	$slurm {
		queueSize = 100		
	}
	$local {
		cpus = 1
		memory = '4 GB'
	}
}

singularity {
	enabled = true
	autoMounts = true
}

process {
	executor = "slurm"
	maxRetries = 4
    errorStrategy = {task.attempt <= 3 ? "retry" : "ignore"}
	cache = "lenient"
	withName: prepare_fastqs {
		executor = "local"
		scratch = null
		container = null
	}
	withName: quast {
		memory = {8.GB * task.attempt}
		time = {2.h * task.attempt}
	}	
	withLabel: bbduk {
		cpus = 4
		memory = {8.GB * task.attempt}
		time = {2.h * task.attempt}
	}
	withName: qc_bbmerge_insert_size {
        publishDir = [mode: "copy", path: params.output_dir]
		cpus = 4
		time = '7d'
		memory = {256.GB * task.attempt}
		queue = { (task.time <= 14.d && task.memory < 256.GB && (task.memory.div(task.cpus)) <= 4) ? "htc-el8" : "bigmem" }
	}
	withName: merge_single_fastqs {
		cpus = 1
		memory = {128.GB * task.attempt}
		time = {2.d * task.attempt}
	}
	withName: kallisto_quant {
        publishDir = [mode: "copy", path: params.output_dir]
        cpus = 8
        memory = {32.GB * task.attempt}
        time = '5d'
    }
	withName: kallisto_index {
		memory = {32.GB * task.attempt}
		time = '5d'
	}
	withName: hostile {
		memory = {8.GB * task.attempt}
		cpus = 5
		time = '5d'
	}
	withName: sortmerna {
		cpus = 8
		  memory = {8.GB * task.attempt}
		  time = {2.d * task.attempt}
    }
	withName: hisat2_align {
		//clusterOptions = "-C naples --gres=tmp:20G"
		memory = {256.GB * task.attempt}
		time = '7.d' 
		cpus = 8
		queue = { (task.time <= 14.d && task.memory < 256.GB && (task.memory.div(task.cpus)) <= 4) ? "htc-el8" : "bigmem" } 
		// maxForks = 2
	}
	withName: hisat2_build {
		memory = {32.GB * task.attempt}
		time = {2.d * task.attempt}
	}
	withName: fastqc {
        publishDir = [mode: "copy", path: params.output_dir]
		cpus = 2
		memory = {8.GB * task.attempt}
		time = {8.h * task.attempt}
	}
	withName: multiqc {
        publishDir = [mode: "copy", path: params.output_dir]
		cpus = 1
		memory = {8.GB * task.attempt}
		time = {8.h * task.attempt}
	}
	withName: merge_sam {
		memory = {64.GB * task.attempt}
		time = {2.d * task.attempt}
		cpus = 4
	}
	withName: stringtie {
        publishDir = [mode: "copy", path: params.output_dir]
		memory = {64.GB * task.attempt}
		time = {2.d * task.attempt}
		cpus = 8
	}
	withName: extract_stringtie_transcripts {
		publishDir = [mode: "copy", path: params.output_dir]
		memory = {4.GB * task.attempt}
		time = {30.min * task.attempt}
		cpus = 1
	}
	withName: picard_insert_size {
        publishDir = [mode: "copy", path: params.output_dir]
    	memory = {16.GB * task.attempt}
    	time = {2.d * task.attempt}
		cpus = 1
	}
	withName: samtools_coverage {
        publishDir = [mode: "copy", path: params.output_dir]
		memory = {16.GB * task.attempt}
		time = {2.d * task.attempt}
		cpus = 1
	}
	withLabel: samtools {
		memory = {16.GB * task.attempt}
		time = {2.d * task.attempt}
		cpus = 1
		queue = { (task.time <= 14.d && task.memory < 256.GB && (task.memory.div(task.cpus)) <= 4) ? "htc-el8" : "bigmem" } 
	}
	withName: bowtie2_align {
		memory = {16.GB * task.attempt}
		time = '7.d' 
		cpus = 8
		queue = { (task.time <= 14.d && task.memory < 256.GB && (task.memory.div(task.cpus)) <= 4) ? "htc-el8" : "bigmem" } 
	}
	withName: bowtie2_build {
		memory = {32.GB * task.attempt}
		cpus = 8
		time = {2.d * task.attempt}
		queue = { (task.time <= 14.d && task.memory < 256.GB && (task.memory.div(task.cpus)) <= 4) ? "htc-el8" : "bigmem" } 
	}
	withLabel: align {
		memory = {128.GB * task.attempt}
		cpus = 8
		time = {2.d * task.attempt}
		queue = { (task.time <= 14.d && task.memory < 256.GB && (task.memory.div(task.cpus)) <= 4) ? "htc-el8" : "bigmem" } 
	}
	withName: motus {
        publishDir = [mode: "copy", path: params.output_dir]
		memory = {16.GB * task.attempt}
		cpus = 8
		time = {2.d * task.attempt}
		queue = { (task.time <= 14.d && task.memory < 256.GB && (task.memory.div(task.cpus)) <= 4) ? "htc-el8" : "bigmem" } 
	}
	withName: motus_merge {
        publishDir = [mode: "copy", path: params.output_dir]
		memory = {16.GB * task.attempt}
		cpus = 8
		time = {2.d * task.attempt}
		queue = { (task.time <= 14.d && task.memory < 256.GB && (task.memory.div(task.cpus)) <= 4) ? "htc-el8" : "bigmem" } 
	}
	withLabel: megahit {
	    publishDir = [mode: "copy", path: params.output_dir]
 		memory = {64.GB * task.attempt}
 		cpus = 16
 		time = {2.d * task.attempt}
 		queue = { (task.time <= 14.d && task.memory < 256.GB && (task.memory.div(task.cpus)) <= 4) ? "htc-el8" : "bigmem" } 
	}
	withName: metaT_trinity {
	    publishDir = [mode: "copy", path: params.output_dir]
		cpus = 64
 		memory = {256.GB * task.attempt}
 		time = {14.d * task.attempt}
 		queue = { (task.time <= 14.d && task.memory < 256.GB && (task.memory.div(task.cpus)) <= 4) ? "htc-el8" : "bigmem" } 
	}
}

